.trackPlay {
  &__image {
    width: 3.541vw;
    height: 3.541vw;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.833vw;
    grid-area: image;
  }

  &__svg {
    width: 1.25vw;
    height: 1.18vw;
    fill: transparent;
    stroke: #4e4e4e;
  }
}
