.button {
  background-color: transparent;
  color: #fff;
}
.active {
  border-color: #d9b6ff;
  color: #d9b6ff;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 1.111vw;
  line-height: 1.666vw;
  border: 0.069vw solid #ffffff;
  border-radius: 4.166vw;
  padding: 0.5vw 1.388vw;
}

.text {
  &:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
  }
  &:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
  }
}
