.form {
  width: 19.0625vw;
  height: 22.865vw;
  background: #ffffff;
  border-radius: 0.833vw;
  padding: 3.264vw 2.847vw 3.264vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 9.722vw;
  height: 1.458vw;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.388vw;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .form {
    width: 30.315vw;
    height: 33.81vw;
    border-radius: 1.389vw;
    padding: 4.977vw 4.745vw 5.44vw;
  }
  .image {
    width: 16.204vw;
    height: 2.431vw;
  }

  .inputs {
    gap: 4.398vw;
  }
  .buttons {
    gap: 2.315vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .form {
    width: 52.315vw;
    height: 55.81vw;
    border-radius: 1.389vw;
    padding: 4.977vw 4.745vw 5.44vw;
  }
  .image {
    width: 30.204vw;
    height: 4.431vw;
  }

  .inputs {
    gap: 4.398vw;
  }
  .buttons {
    gap: 2.315vw;
  }
}

@media screen and (max-width: 480px) {
  /* Стили для мобильных устройств */
}
