.register_start {
  width: 278px;
  height: 52px;
  border: 1px solid #d0cece;
  border-radius: 6px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  letter-spacing: -0.003em;

  color: #000000;
  outline: none;
  &:hover {
    background: #f4f5f6;
  }
  &:active {
    background: #d9d9d9;
  }
}

.register_finish {
  width: 278px;
  height: 52px;
  background: #580ea2;
  border-radius: 6px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.003em;

  color: #ffffff;
  border: transparent;
  outline: none;
  &:hover {
    background: #3f007d;
  }
  &:active {
    background: #271a58;
  }
}

.entry {
  width: 278px;
  height: 52px;
  background: #580ea2;
  border-radius: 6px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.003em;

  color: #ffffff;
  outline: none;
  border: transparent;
  &:hover {
    background: #3f007d;
  }
  &:active {
    background: #271a58;
  }
}
