.container {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: #181818;
}

.main {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  &__centerblock {
    width: 54.048vw;
    height: 83%;
    padding: 1.388vw 0 15vh 0;
  }
}
