.container {
  margin-top: 1.388vw;
  position: absolute;
  width: 15.222vw;
  height: 14.7vw;
  background: #313131;
  border-radius: 0.833vw;
  box-sizing: border-box;
  padding: 1.042vw;
}

li button {
  background-color: transparent;
  border: none;
}
.authors {
  margin: 0;
  text-align: center;
  padding: 0.3vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1.944vw;

  width: 12.5vw;
  height: 11.458vw;

  &::-webkit-scrollbar {
    width: 0.277vw;
    height: 4.514vw;
    background-color: #4b4949;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0.694vw;
  }
  &::-moz-scrollbar {
    width: 0.277vw;
    height: 4.514vw;
    background-color: #4b4949;
  }
  &::-moz-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0.694vw;
  }
  &::-ms-scrollbar {
    width: 0.277vw;
    height: 4.514vw;
    background-color: #4b4949;
  }
  &::-ms-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0.277vw;
  }
}
.author {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 1.388vw;
  line-height: 1.666vw;
  cursor: pointer;

  color: #ffffff;
}
.active {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 1.388vw;
  line-height: 1.666vw;
  text-decoration-line: underline;
  cursor: pointer;

  color: #b672ff;
}
