.pause {
  padding: 0.3472vw;

  display: flex;
  align-items: center;
  margin-right: 1.597vw;
  background-color: transparent;
  border: none;
  &__svg {
    width: 1.5277vw;
    height: 1.388vw;
    fill: #d9d9d9;
  }
}
