.pause {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-right: 23px;
  background-color: transparent;
  border: none;
}

.pause__svg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}
