.container {
  margin-top: 1.388vw;
  position: absolute;
  width: 14.5vw;
  height: 13.458vw;
  background: #313131;
  border-radius: 0.833vw;
  box-sizing: border-box;
}

.authors {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.944vw;
  padding: 1.041vw;

  width: 12.5vw;
  height: 11.458vw;
}

.author {
  text-align: center;
  font-weight: 400;
  font-size: 1.388vw;
  line-height: 1.388vw;
  cursor: pointer;

  color: #ffffff;
}
.active {
  text-align: center;
  font-weight: 400;
  font-size: 1.388vw;
  line-height: 1.388vw;
  text-decoration-line: underline;
  cursor: pointer;

  color: #b672ff;
}

/* Internet Explorer/Edge */
