.container {
  margin-top: 1.388vw;

  display: flex;
  padding: 1.361vw;

  position: absolute;
  width: 23.5vw;

  background: #313131;
  border-radius: 0.833vw;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 1.666vw;

  width: 23.263vw;
  height: 1.666vw;
}
.input {
  align-items: center;
  display: flex;
  gap: 0.694vw;
  font-style: normal;
  font-weight: 400;
  font-size: 1.388vw;
  line-height: 1.666vw;
  cursor: pointer;

  color: #ffffff;
}
