.next {
  margin-right: 28px;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}
.next__svg {
  width: 15px;
  height: 14px;
  stroke: #d9d9d9;
}
