.title {
  width: 5.99%;
  &__pat {
    text-align: left;
    width: 3.541vw;
    height: 3.541vw;

    background: #313131;
  }
}
.author {
  width: 36.35%;
  height: 1.319vw;
  &__pat {
    width: 80%;
    height: 1.319vw;

    background: #313131;
  }
}

.album {
  width: 28.25%;
  height: 1.319vw;
  &__pat {
    width: 80%;
    height: 1.319vw;

    background: #313131;
  }
}
.time {
  width: 21.18vw;
  height: 1.319vw;

  background: #313131;
  &__pat {
    width: 21.18vw;
    height: 1.319vw;

    background: #313131;
  }
}
.item {
  width: 78.888vw;
  display: block;
  margin-bottom: 0.833vw;
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
}
