.img {
  width: 3.542vw;
  height: 3.542vw;

  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.833vw;
  grid-area: image;
}
.author {
  width: 4.097vw;
  height: 1.0416vw;

  background: #313131;
  grid-area: author;
  min-width: 3.402vw;
}
.album {
  width: 4.097vw;
  height: 1.0416vw;

  background: #313131;
  grid-area: album;
  min-width: 3.4027vw;
}
