.author {
  grid-area: author;
  min-width: 3.4027vw;
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 1.666vw;
    color: #ffffff;
    white-space: nowrap;
  }
}
