.bar__volumeBlock {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 6.388vw 0 0;
}

.volume__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
