.playlist {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
  overflow-x: hidden;
  padding: 0vw 0.7vw 0vw 0;
  &::-webkit-scrollbar {
    width: 0.555vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.277vw;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.active {
  background-color: #0c0c0c;
  transition: all 0.3s;
}

.item {
  display: block;
  &:not(.active):hover {
    background-color: #252525;
    transition: all 0.3s;
  }
  &:not(.active):hover:active {
    background-color: #444444;
    transition: all 0.15s;
  }
  &:active {
    background-color: #444444;
    transition: all 0.15s;
  }
}
