.album {
  min-width: 3.4027vw;
  &__link {
    color: #ffffff;

    width: 2.43vw;
    height: 1.666vw;

    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-size: 0.972vw;
    line-height: 1.666vw;
  }
}
