.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #181818;
}

.main {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.centerblock {
  width: 54.048vw;
  padding: 1.388vw 0 0 0;
}
.content {
  display: flex;
  flex-direction: column;
}
