.like {
  width: 0.972vw;
  height: 0.833vw;
  stroke: #696969;
  cursor: pointer;
}
.time {
  font-style: normal;
  font-weight: 400;
  font-size: 1.111vw;
  line-height: 1.666vw;
  text-align: right;
  color: #696969;
  &__block {
    display: flex;
    align-items: center;
    gap: 1.111vw;
  }
}
