.album {
  width: 21.5%;
  display: flex;
  justify-content: flex-start;
}
.album__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
  cursor: default;
}
