.album {
  width: 21.5%;
  display: flex;
  justify-content: flex-start;
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 1.666vw;
    color: #ffffff;
    text-align: left;
    cursor: default;
  }
}
