.sidebar {
  width: fit-content;
  height: 100vh;
  padding-top: 2vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  gap: 16vh;
  &__block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__list {
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }
}

.link {
  align-self: flex-end;
}

.logout {
  width: 2.777vw;
  height: 2.777vw;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.item {
  width: 13.361vw;
  height: 8.416vw;
  &:not(:last-child) {
    margin-bottom: 2.083vw;
  }
}

.img {
  width: 100%;
  height: 100%;
}
