.bar__playerBlock {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bar__content {
  display: flex;
  flex-direction: column;
}
.bar__playerProgress {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
}
