.prev {
  padding: 0.3472vw;
  display: flex;
  align-items: center;
  margin-right: 1.5972vw;
  background-color: transparent;
  border: none;
  &__svg {
    width: 1.0416vw;
    height: 0.972vw;
  }
}
