.title {
  display: flex;
  align-items: center;
  padding: 10px 17px 24px 11px;
  width: 1136px;
}

.col01 {
  width: 42.3%;
}
.col02 {
  width: 28.2%;
}

.col03 {
  width: 26.1%;
}

.col04 {
  width: 12px;
}
